/* Reset */
html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Style */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-repeat:repeat-x;
    background-color:white;
    background-image:url(../img/sos.png);
}

#wrap {
    width: 960px;
    margin:0 auto;
}

h1 {
    font-size:22px;
    margin:0;
    float:left;
    color:#ffb61a;
}

header {
    display:block;
    height:42px;
    background-image:url(../img/dark_dotted2.png);

}
header div {
    display:block;
    width:960px;
    margin:0 auto;
    padding-top:6px;
}
header p {
    margin: 3px;
}
header ul {
    float:right;
    margin:0;
}

header ul li {
    display:inline-block;
    font-size:22px;
    font-weight:300;
    margin-right:12px;
    color:white;
    
}

header p {
    float:right;
    color:white;
}

header a {
    color:#ffb61a;
    font-size:14px;
    text-decoration:none;
}

header a:hover { 
    text-decoration:underline;
}


a {
   color:#ffb61a;
   text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.follow-me {
    display:block;
    float:right;
    margin:0;
}

.follow-me li {
    display:inline-block;
    margin-right:12px;
}

h2 {
    color: #33333;
    font-size:28px;
    padding-top:16px;
    clear:both;
    border-bottom: 1px dotted #666;
}

.title {
    margin-top:50px;
    color:#333;
    font-size:36px;
    line-height: 22px;
    font-weight:500;
}

h3 {
    color: #2980b9;
    font-size:20px;
    margin:12px 0;
}

h4 {
    color: #2980b9;
    font-size:16px;
    margin:12px 0;
}

ul {
    color:#444;
}

.lead {
    color:#898989;
    font-size:22px;
    line-height: 32px;
    font-weight:300;
}
.portfolio, .swfportfolio {
    list-style:none;
    width:960px;
    padding-left: 0;
    height:175px;
}

.portfolio li, .swfportfolio li {
    margin-right:22px;
    display:block;
    float:left;
    width:170px;
    height:170px;
    position:relative;
}

.portfolio li a, .swfportfolio li a { 
    width:170px;
    height:170px;
    display:block;
    overflow:hidden;
    border:1px solid #bbb;
    transition: opacity 0.2s linear;
}

.portfolio li a:hover, .swfportfolio li a:hover {
    opacity:0.4;
}

.original {

}

.colorImg {
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:998;
    width:170px;
    height:170px;
    overflow:hidden;
    -o-border-radius:84px;
    border-radius:84px;
    border:3px solid #2980b9;
}

footer {
    display:block;
    background-image:url(../img/dark_dotted2.png);
    padding:12px 0;
    margin: 16px 0 0;
    clear:both;
    text-align:center;
}

footer p {
    font-size: 16px;
    color: #fff;
    text-align:center;
    width:960px;
    margin:0 auto
}

footer ul {

}
footer ul li {
    display:inline-block;
    width: 250px;
    color:#fff;

}

.resume {

}

.resume p {
    color:#444;
}

.resume h2, h3 {
    margin:12px 0;
}

.resume h4 {
    margin: 12px 0 6px;
}

.resume ul {
    margin:12px;
}

.flash {
    background-image:url(../img/flash.jpg);
    background-repeat:no-repeat;
}

#scroll {
    width:110px;
    text-align:center;
    padding:6px;
    height:25px;
    margin:12px auto;
    display:block;
    background-color:#ffb61a;
    color:#fff;
    border-radius:8px;
}
