/* Reset */
html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

/* Style */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-image:url(../img/bg.png);
    background-repeat:repeat-x;
    background-color:white;
}

#wrap {
    height:60px;
    width: 960px;
    margin:0 auto;
}

h1 {
    font-size:22px;
    margin:0;
    float:left;
    color:white;
}
header {
    display:block;
    height:42px;

}
header p {
    margin: 3px;
}
header ul {
    float:right;
    margin:0;
}

header ul li {
    display:inline-block;
    font-size:22px;
    font-weight:300;
    margin-right:12px;
    color:white;
    
}



a {
   color:#2980b9;
   }

.follow-me {
    display:block;
    float:right;
    margin:0;
}

.follow-me li {
    display:inline-block;
    margin-right:12px;
}
header p {
    float:right;
    color:white;
}

header a {
    color:white;
    text-decoration:none;
}

header a:hover { 
    text-decoration:underline;
}

h2 {
    color: #2980b9;
    font-size:28px;
}

.title {
    margin-top:50px;
    color:#2980B9;
    font-size:36px;
    line-height: 22px;
    font-weight:500;
}

h3 {
    color: #2980b9;
    font-size:20px;
    margin:12px 0;
}

h4 {
    color: #2980b9;
    font-size:16px;
    margin:12px 0;
}

ul {
    color:#444;
}

.lead {
    color:#898989;
    font-size:22px;
    line-height: 32px;
    font-weight:300;
}
.portfolio {
    list-style:none;
}

.portfolio li {
    margin-right:28px;
    display:inline-block;
    width:170px;
    height:170px;
    position:relative;
}

.portfolio li a {
    width:170px;
    height:170px;
    display:block;
    overflow:hidden;
    border-radius:84px;
    border:3px solid #2980b9;
    transition: opacity 0.2s linear;
}

.portfolio li a:hover {
    opacity:0.4;
}

.original {

}

.colorImg {
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:998;
    width:170px;
    height:170px;
    overflow:hidden;
    border-radius:84px;
    border:3px solid #2980b9;
}

.footer {
    display:block;
    padding-top:140px;
    text-align:center;

.resume {

}

.resume p {
    color:#444;
}

.resume h2, h3 {
    margin:12px 0;
}

.resume h4 {
    margin: 12px 0 6px;
}

.resume ul {
    margin:12px;
}
